@charset "utf-8";
/*------------------------------------
reset
------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table, tr, td {
	border-collapse:collapse;
	border-spacing:0;
	border: none;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

input[type="password"], input[type="text"] {
	border:1px solid #E3E3E3;
	padding:2px;
}
input[type="password"]:focus, input[type="text"]:focus {
	outline: 0;
}
input[type="submit"], input[type="button"] {
	background-color:#0072C6;
	border:none;
	font-size:14px;
	font-family: Microsoft Yahei;
	color:#FFF;
	cursor:pointer;
	padding:0 2px;
}
input[type="submit"]:hover, input[type="button"]:hover {
	opacity: 0.76;
	filter: alpha(opacity=76);
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	*zoom:1;
}
	
a {
	color:#0072C6;
	text-decoration:none;
}	
th, tr {
	vertical-align:middle;
	text-align:left;
}
/*------------------------------------
end reset
------------------------------------*/
body {
	font-family:Century Gothic,Microsoft Yahei;
	color:#333;
	font-size:14px;
}
h1 {
	font-size:2em;
}
h2 {
	font-size:1.5em;
}
a:hover {
	opacity: 0.76;
	filter: alpha(opacity=76);
}
.mb40 {
	margin-bottom:40px;
}
.dis-ib {
	display:inline-block;
}
.login-logo {
	text-align:center;
	margin-top:100px;
	color:#0072C6;
	margin-bottom:20px;
}
.login-box {
	background-color:#0072C6;
	width:360px;
	padding:30px 30px 60px 30px;
	margin:0 auto;
	color:#FFF;
	position:relative;
}
.login-box .item {
	margin:15px 25px;
}
input.login-btn {
	background:#FFF;
	border:none;
	font-size:14px;
	font-family: Microsoft Yahei;
	color:#0072C6;
	padding:5px 10px;
	position:absolute;
	bottom:20px;
	right:50px;
}
.login-btn:hover {
	opacity: 0.76;
	filter: alpha(opacity=76);
}
.login-txt {
	width:240px;
	margin-left:20px;
}

/*页面通用部分样式 START!*/
.hd-bg {
	background-color:#0072C6;
	color:#FFF;
	padding:10px 20px;
}
.hd-logo {
	font-size:1.2em;
}
.content-left {
	float:left;
	width:180px;
	background:#F3F3F3;
	padding-bottom:32767px;
	margin-bottom:-32767px;
}
.content-right {
	background:#FFF;
	margin-left:180px;
	padding-bottom:32767px;
	margin-bottom:-32767px;
}
.content {
	overflow:hidden;
}
.content-left,
.content-right {
 min-height: 600px;
 height: auto !important;
 height: 600px;
}
.top-item-label {
	padding:20px 0 4px 10px;
}
.top-item-label .ltop-item {
	color:#333;
	display:block;
}
.left-nav li {
	display:block;
}
.left-nav .caption {
	padding:5px 20px;
	font-size:16px;
	display:block;
	color:#666;
}
.lnav-item {
	display:block;
}
.lnav-item:hover {
	background-color: #E7E7E7;
}
.lnav-item.active {
	background-color: #E7E7E7;
}
.content-title {
	color:#0072C6;
	padding: 20px 0 4px 20px;
}
/*页面通用部分样式 END!*/


/*审核信息样式 START!*/
.check-table {
	width:100%;
}
.check-table tr:nth-child(odd) {
	background:#F9F9F9;
}

.check-table tr.check-table-title {
	border-bottom:1px solid #CDCDCD;
	background:#F3F3F3;
}
.check-table-title th {
	padding:10px 0;
}
.check-table td {
	padding:4px 0;
}
.checkdetail-table tr:hover, .check-table tr:hover {
	background:#F3F3F3;
}
.check-table .ck {
	padding-left:20px;
}
.check-btn {
	color:#FFF;
	padding:2px 4px;
	margin-right:4px;
}
.check-btn.pass {
	background:#66CC66;
}
.check-btn.reject {
	background:#CC3333;
}
.check-tool {
	border-top:1px solid #CDCDCD;
	background:#F3F3F3;
	font-size:12px;
	padding:4px 10px;
	position:relative;
}
.check-tool .check-all {
	margin-left:20px;
}
.check-tool .page-nav {
	margin-left:20px;
}
/*审核信息样式 END!*/

/*审核信息详情样式 START!*/
.checkdetail-table {
	width:100%;
}
.checkdetail-table th {
	text-align:right;
	padding:4px 10px 4px 20px;
	width:15%;
	font-weight:bold;
}
.checkdetail-table .sub-title th {
	font-weight:normal;
}
.checkdetail-table .sub-title {
	background:#F3F3F3;
	border-bottom:1px solid #CDCDCD;
	border-top:1px solid #CDCDCD;
	font-size:20px;
}
/*审核信息详情样式 END!*/

/*标题居左表格样式(left-th-table) START！*/
.left-th-table {
	width:100%;
}
.left-th-table th {
	text-align:right;
	padding:6px 10px 6px 20px;
	width:12%;
	min-width:100px;
	font-weight:bold;
}
.sub-title {
	background:#F3F3F3;
	border-bottom:1px solid #CDCDCD;
	border-top:1px solid #CDCDCD;
	font-size:20px;;
}
.left-th-table .sub-title th {
	font-weight:normal;
}
/*标题居左表格样式(left-th-table) END！*/

/*标题居上表格样式(top-th-table) START！*/
.top-th-table {
	width:100%;
}

.top-th-table tr:nth-child(odd) {
	background:#F9F9F9;
}

.top-th-table tr.top-th-table-title {
	border-bottom:1px solid #CDCDCD;
	background:#F3F3F3;
}
.top-th-table th {
	padding:10px 0;
}
.top-th-table td {
	padding:6px 0;
}
.top-th-table tr:hover, .top-th-table tr:hover {
	background:#F3F3F3;
}
.top-th-table .first-cell {
	padding-left:20px;
	width:100px;
}
.top-th-table .more-info {
	color:#0072C6;
}

.top-th-table tr.last-tr {
	background:#F3F3F3;
	font-weight:bold;
	border-top:1px solid #CDCDCD;
}


/*标题居上表格样式(top-th-table) END！*/

/*页面主体顶部工具栏(top-tool-box) START！*/
.top-tool-box {
	position:relative;
	margin:10px 0;
}

.top-tool-box .switch-btns {
	position:absolute;
	right:100px;
	top:0;
}
.switch-btns {
	border:1px solid #0072C6; 
	display:inline-block;
	
}
.switch-btns a {
	padding:0 5px;
	display:inline-block;
	height:20px;
	line-height:20px;
}
.switch-btns a.on {
	background:#0072C6;
	color:#FFF;
}
/*页面主体顶部工具栏(top-tool-box) END！*/

/*折线图分类(category-select) START！*/
.left {
	float:left;
}
.category-select .item {
	width:232px;
	margin:24px 8px 0 20px;
	border-bottom:2px solid;
	position:relative;
	font-size:12px;
	color:#545454;
	height:32px;
	vertical-align:middle;
	margin-top:24px;
	display:inline;
}
.category-select .blue-line {
	border-color:#64BBED;
}
.category-select .green-line {
	border-color:#99DF6F;
}
.category-select .gray-line {
	border-color:#818181;
}
.category-select .dblue-line {
	border-color:#5D91D2;
}
.category-select .orange-line {
	border-color:#FFB362;
}
.category-select .dgreen-line {
	border-color:#5AD3AD;
}
.category-select .violet-line {
	border-color:#996699;
}
.category-select .yellow-line {
	border-color:#ffc000;
}
.category-select .dred-line {
	border-color:#e93f3f;
}
.category-select .dyellow-line {
	border-color:#cc9966;
}
.category-select .item span {
	position:absolute;
}
.category-select .item span.item-title {
	top:0;
	left:20px;
}
.category-select .item span.item-number {
	top:0;
	right:10px;
}
.category-select .item span.item-rate {
	bottom:0;
	right:10px;
}
h3.sub-title {
	padding: 10px 10px 4px 20px;
}
/*折线图分类(category-select) END！*/

/*时间选择框(date-range) START！*/
.date-range {
	position:relative;
	height:40px;
	margin-left:20px;
}
.start-time, .end-time, .apply-range, .line, .category-change {
	position:absolute;
	top:0;	
}
.apply-range {
	left:368px;
	top:1px;
	background-color:#0072C6;
	color:#FFF;
	padding:0 2px;
	height:22px;
	line-height:22px;
}
.start-time {
	left:0;
}
.end-time {
	left:185px;
}
.line {
	line-height:18px;
	height:18px;
	left:172px;
	display:block;
	width:20px;
}
.date-range a.calendar-icon {
	font-size:12px;
	position:absolute;
	top:0;
	right:8px;
	height:24px;
	width:48px;
	outline:none;
}

.date-range {
	color:#7f7f7f;
	height:30px;
}
.date-range .inner {
	position:relative;
	width:170px;
	display:inline-block;
	height:24px;
	line-height:24px;
}
.date-range input {
	font-size:14px;
	color:#707070;
	padding:2px;
	width:160px;
	height:18px;
	line-height:18px;
}
/*时间选择框(date-range) END！*/

/*用户名单(username-list) START！*/
.username-list {
	padding:20px;
} 
.username-list a {
	border-right:solid 1px #E2E2E2;
	padding-right:10px;
	margin-right:10px;
	line-height:2em;
}
/*用户名单(username-list) END！*/
.multi-table-title {
	background:#E7E7E7;
}
.chart-box {
	margin:20px 0 20px 20px;
}
.content-title .user-name {
	color:#333;
	padding:0 4px;
	font-weight:bold;
}
.reminder {
	font-size:14px;
	color:#0072C6;
}
.input-error {
	color:#CC3333;
}
.input-ok {
	color:#66CC66;
}
.r-search-box {
	margin:10px 0 10px 20px;
}
.search-txt {
	color:#999;
	font:14px 'Microsoft Yahei';
}
.search-txt:focus {
	color:#333;
}